@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
}
.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }
.float-left {
  float: left;
}
.float-right {
  float: right;
}
.cursor-pointer {
  cursor: pointer;
}
.font-weight-bold {
  font-weight: bold;
}
.margin-bottom-10 {
  margin-bottom: 10px;
}
.padding-bottom-10 {
  padding-bottom: 10px;
}
.border-bottom-ddd {
  border-bottom: 1px solid #dddddd;
}
.line-height-34 {
  line-height: 34px;
}
.completed-todo {
  text-decoration: line-through;
}
.btn-not-btn {
  border: 0 none;
  background: transparent;
  padding: 0;
  box-shadow: none;
  &:hover,
  &:active,
  &:focus,
  &:hover:active:focus {
    border: 0 none;
    background: transparent;
    padding: 0;
    box-shadow: none;
  }
}
.btn-group.open {
  .btn-not-btn.dropdown-toggle {
    border: 0 none;
    background: transparent;
    padding: 0;
    box-shadow: none;
  }
}
.lists-group {
  .list-header {
    font-size: 22px;
    line-height: 38px;
  }
  .panel-body {
    .empty-todos-list {
      text-align: center;
      background: #f5f5f5;
      border: 1px solid #ddd;
      padding: 5px;
      @include border-radius(5px);
    }
  }
}